.inline {
  display: inline;
}

.home {
  padding-left: 120px;
}

.header-link {
  color: #fff;
  text-decoration: none;
}

header, footer {
  background-color: #444;
  color: #fff;
  padding: 20px;
}

body {
  margin: 0px;
  font-family: Gotham, sans-serif;
}

.demo-video {
  display: inline;
  border: 2px #000 solid;
}

aside {
  display: inline;
  position: absolute;
  left: 1350px;
  right: 50px;
  top: 137px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 72px;
  font-family: Impact, sans-serif;
  text-align: center;
  border: 5px solid #000;
  height: 700px;
  background-color: #42cbf5;
  color: #fff;
}

.video {
  list-style-type: none;
}

.links {
  text-decoration: none;
  color: #aaf;
}

#review, #contact {
  text-align: center;
}

.aside {
  margin-top: 0px;
}
