.inline {
  display: inline;
}

.home {
  padding-left: 120px;
}

.header-link {
  color: #fff;
  text-decoration: none;
}

header {
  background-color: #444;
  color: #fff;
  padding: 20px;
}

body {
  margin: 0px;
  font-family: sans-serif;
}
